/* VISOR DEL POEMA*/

.visor{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:flex-start;

    padding:120px 20px 40px;

    position:relative;

    overflow:hidden;

}


/* Fondo desenfocado */

.fondo{

    position:fixed;

    inset:0;

    background-size:cover;

    background-position:center;

    filter:blur(25px);

    transform:scale(1.15);

    opacity:.25;

    z-index:-1;

}


/* Imagen del poema */

.imagen-poema{

    max-width:900px;

    width:100%;

    height:auto;

    border-radius:18px;

    box-shadow:0 25px 60px rgba(0,0,0,.45);

    transition:.35s;

}

.imagen-poema:hover{

    transform:scale(1.01);

}